<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="KCI-帖子详情页" />
        <meta name="author" content="PlusL" />
        <title>KCI-帖子详情页</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <header th:replace="index::UrlHeader">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html">Start Bootstrap</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="joinus.html">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
                            <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="blog_home.html">Blog Home</a></li>
                                    <li><a class="dropdown-item" href="blog_post.html">Blog Post</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="portfolio-overview.html">Portfolio Overview</a></li>
                                    <li><a class="dropdown-item" href="portfolio-item.html">Portfolio Item</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            </header>
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                    <!-- User Information-->
                        <div class="col-lg-3">
                            <div class="d-flex align-items-center mt-lg-5 mb-4">
                                <a th:href="@{|/user/profile/${user.id}|}">
                                    <img class="img-fluid rounded-circle" th:src="${user.headurl}" alt="..." style="width: 50px" />
                                </a>
                                <div class="ms-3">
                                    <div class="fw-bold" th:utext="${user.nickname}">Valerie Luna</div>
                                    <div class="text-muted" th:utext="${user.createtime}">News, Business</div>
                                </div>
                            </div>

                            <div class="mt-2 ml-3 align-content-center">
                                <a href="javascript:;" th:onclick="|like(this,1,${post.id},${post.userId});|" class="text-primary">
                                    <b th:text="${likeStatus==1?'已赞':'赞'}">赞</b> <i th:text="${likeCount}">11</i>
                                </a>
                            </div>

                        </div>
                        <div class="col-lg-9">
                            <!-- Post content-->
                            <article>
                                <!-- Post header-->
                                <header class="mb-4">
                                    <!-- Post title-->
                                    <h1 class="fw-bolder mb-1" th:utext="${post.title}">Welcome to Blog Post!</h1>
                                    <!-- Post meta content-->
                                    <div class="text-muted fst-italic mb-2" th:utext="${#dates.format(post.createTime, 'yyyy-MM-dd HH:mm:ss')}">January 1, 2021</div>
                                    <!-- Post categories-->
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">网页设计</a>
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">后端</a>
                                </header>
                                <!-- Preview image figure-->
                                <figure class="mb-4"><img class="img-fluid rounded" th:if="${post.img!=null}" th:src="${post.img}" alt="..." /></figure>
                                <figure class="mb-4"><img class="img-fluid rounded" th:if="${post.img==null}" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                                <!-- Post content-->
                                <section class="mb-5">
                                    <p class="fs-5 mb-4" th:utext="${post.content}"></p>

                                </section>
                            </article>
                            <!-- Comments section-->
                            <section>
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <!-- 评论表单 -->
                                        <form class="mb-4" method="post" th:action="@{|/comment/add/${post.id}|}">
                                            <textarea class="form-control" rows="3" placeholder="发一条友善的评论!" name="content"></textarea>
                                            <input type="hidden" name="entityType" value="1">
                                            <input type="hidden" name="entityId" th:value="${post.id}">
                                            <button class="btn btn-primary btn-sm" type="submit"> 发 布 </button>
                                        </form>
                                        <!-- 现有评论 -->
                                        <div class="d-flex mb-4" th:each="cvo:${comments}">
                                            <!-- Parent comment-->
                                            <div class="flex-shrink-0"><img class="rounded-circle" th:src="${cvo.user.headurl}" alt="..." style="width: 50px"/></div>
                                            <div class="ms-3">
                                                <div class="fw-bold" th:utext="${cvo.user.nickname}">Commenter Name</div>
                                                <p class="lead fw-lighter mb-5" th:utext="${cvo.comment.content}">content</p>
                                                <div class="mt-2 ml-3 align-content-center">
                                                    <a href="javascript:;" th:onclick="|like(this,2,${cvo.comment.id},${cvo.comment.userId});|" class="text-primary">
                                                        <b th:text="${cvo.likeStatus==1?'已赞':'赞'}">赞</b> <i th:text="${cvo.likeCount}">11</i>
                                                    </a>
                                                </div>
                                                <!-- Child comment 1-->
                                                <div class="d-flex mt-4" th:each="rvo:${cvo.replys}">
                                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                                    <div class="ms-3">
                                                        <div class="fw-bold" th:if="${rvo.target==null}">
                                                            <b class="text-info" th:utext="${rvo.user.nickname}"></b>：
                                                        </div>
                                                        <div class="fw-bold" th:if="${rvo.target!=null}">
                                                            <b class="text-info" th:utext="${rvo.user.nickname}">评论者</b> 回复
                                                            <i class="text-info" th:utext="${rvo.target.nickname}">被评论者</i>：
                                                        </div>

                                                        <span th:utext="${rvo.reply.content}">回复内容</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                            <!--  分页   -->
                                        <nav aria-label="Pagination" class="mt-5" th:replace="blog_home::pagination">
                                            <hr class="my-0" />
                                            <ul class="pagination justify-content-center my-4">
                                                <li class="page-item">
                                                    <a class="page-link" th:href="@{${page.path}(current=1)}" tabindex="-1" aria-disabled="true">首页</a>
                                                </li>

                                                <li th:class="|page-item ${page.current==1?'disabled':''}|">
                                                    <a class="page-link" th:href="@{${page.path}(current=${page.current-1})}">上一页</a>
                                                </li>

                                                <li th:class="|page-item ${i==page.current?'active':''}|" aria-current="page" th:each="i:${#numbers.sequence(page.from,page.to)}">
                                                    <a class="page-link" th:href="@{${page.path}(current=${i})}" th:text="${i}">1</a>
                                                </li>

                                                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>

                                                <li th:class="|page-item ${page.current==page.total?'disabled':''}|">
                                                    <a class="page-link" th:href="@{${page.path}(current=${page.current+1})}">下一页</a>
                                                </li>
                                            </ul>
                                        </nav>

                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto" th:replace="index::footer">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2021</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- jQurey -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{/js/scripts.js}"></script>
        <!-- 点赞业务实现JS  -->
        <script th:src="@{/js/like.js}"></script>
    </body>
</html>
