<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="KCI-账号设置" />
    <meta name="author" content="PlusL" />
    <title>KCI-账号设置</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <header th:replace="index::UrlHeader">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="index.html">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="joinus.html">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                            <li><a class="dropdown-item" href="blog_home.html">Blog Home</a></li>
                            <li><a class="dropdown-item" href="blog_post.html">Blog Post</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                            <li><a class="dropdown-item" href="portfolio-overview.html">Portfolio Overview</a></li>
                            <li><a class="dropdown-item" href="portfolio-item.html">Portfolio Item</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
<!--                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>-->
                    <h2 class="fw-bolder">账号设置</h2>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <p class="text-left text-info border-bottom pb-2">上传头像</p>
                        <form id="upLoadForm" method="post" enctype="multipart/form-data" th:action="@{/user/upload}">
                            <div class="form-group row mt-4">
                                <label for="head-img" class="col-sm-2 col-form-label text-light">选择头像</label>
                                <div class="col-sm-12">
                                    <div class="custom-file">
                                        <input type="file"
                                               th:class="|custom-file-input ${error!=null ? 'is-invalid' : ''} |"
                                               name="headImage" id="head-img"  lang="es" required="">
                                        <label class="custom-file-label" for="head-img" data-browse="文件">选择一张图片</label>
                                        <div class="invalid-feedback" th:text="${error}">
                                            上传图片有误
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mt-4">
<!--                                <div class="col-sm-2"></div>-->
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-info text-white form-control">上传图片</button>
                                </div>
                            </div>
                        </form>

                        </br>

                        <form id="contactForm" method="post" th:action="@{/user/update}">
                            <!-- Name input-->
                            <div class="form-group row mt-4">
                                <div class="col-sm-2">
                                    <h5 class="custom-control-input mb-2" >邮箱：</h5>
                                </div>
                                <div class="col-sm-10">
                                    <input class="form-control" name="email" th:value="${Email == null ? '您还没有邮箱' : Email}" disabled>
                                </div>
                            </div>

                            <div class="form-group row mt-4">
                                <div class="col-sm-2">
                                    <h5 class="custom-control-input mb-2" >昵称：</h5>
                                </div>
                                <div class="col-sm-10">
                                    <input class="form-control" name="nickname" th:value="${nickName == null ? '您还没有设置昵称' : nickName}">
                                </div>
                            </div>

                            <div class="form-group row mt-4">
                                <div class="col-sm-2">
                                    <h5 class="custom-control-input mb-2" >真名：</h5>
                                </div>
                                <div class="col-sm-10">
                                    <input class="form-control" name="realname" th:value="${realName == null ? '您还没有设置真实姓名' : realName}">
                                </div>
                            </div>

                            <div class="form-group row mt-4">
                                <div class="col-sm-2">
                                    <h5 class="custom-control-input mb-2" >性别：</h5>
                                </div>
                                <div class="col-sm-10">
                                    <select class="form-control" name="sex" id="sex">
                                        <option value="0" th:selected="${Sex == 0 ? 'selected' : ''}">男</option>
                                        <option value="1" th:selected="${Sex == 1 ? 'selected' : ''}">女</option>
                                        <option value="2" th:selected="${Sex == 2 ? 'selected' : ''}">保密</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mt-4">
                                <div class="col-sm-2">
                                    <h5 class="custom-control-input mb-2" >电话：</h5>
                                </div>
                                <div class="col-sm-10">
                                    <input class="form-control" name="phone" th:value="${Phone == null ? '您还没有设置手机号' : Phone}">
                                </div>
                            </div>

                            <div class="form-group row mt-4">
                                <div class="col-sm-2">
                                    <h5 class="custom-control-input mb-2" >年级：</h5>
                                </div>
                                <div class="col-sm-10">
                                    <input class="form-control" name="grade" th:value="${Grade == 0 ? '填**届，如19届填19即可' : Grade}">
                                </div>
                            </div>

                            <div class="form-group row mt-4">
                                <div class="col-sm-2">
                                    <h5 class="custom-control-input mb-2" >专业：</h5>
                                </div>
                                <div class="col-sm-10">
                                    <input class="form-control" name="major" th:value="${Major == null ? '您还没有设置专业' : Major}">
                                </div>
                            </div>

                            <div class="form-group row mt-4">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-info text-white form-control">确认修改</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
            <!-- Contact cards-->

        </div>
    </section>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto" th:replace="index::footer">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2021</div></div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{/js/scripts.js}"></script>

<!--<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->
</body>
</html>
