<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KingCola-ICG 激活账号</title>
</head>
<body>
    <div>
        <p>
            <b th:text="${email}">xxx@xxx.com</b>,你好
        </p>
        <p>
            您正在注册KingCola-ICG官网，这是一封激活邮件，请点击
            <a th:href="${url}"> 该链接 </a>
            激活你的账号
        </p>
    </div>
</body>
</html>